/* стили для всех крупных блоков */
.content_section {
    width: 100%;
    margin: 0 auto;
  }

  /* стили шапки проекта */
.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__logo {
    display: block;
    align-self: center;
    justify-self: center;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__links-list {
    display: flex;
    gap: 30px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    font-weight: 400;
}

.header__address {
    max-width: 240px;
    justify-self: end;
}

/* стили для обложки проекта */
.cover {
    position: relative;
    padding: 165px 50px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #000;
}

.cover__title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 40px;
    color: #FFF;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 40px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
}

.cover__description-text {
    color: #FFF;
    word-spacing: 20px;
    font-size: 22px;
    text-transform: uppercase;
}

.bet-button {
    font-size: 22px;
    border: #FFF solid 1px;
    padding: 10px 15px;
    text-transform: uppercase;
    background-color: transparent;
    color: #FFF;
}

/* стили для лотов проекта */
.lots {
    padding: 74px 24px 53px;
}

.lots__heading {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}

.lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    list-style: none;
    padding: 74px 24px 53px;
}

.lots__card-list-item {
    height: 100%;
    color: #FFF;
}

.card-link {
    display: block;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 48px 40px;
    height: 100%;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-position: center;
    background-size: cover;
}

.card__title {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
    z-index: 1;
}

.card__text {
    font-size: 20px;
    z-index: 1;
}

.lots__look-more-link {
    font-size: 20px;
    font-weight: 400;
    padding: 30px 40px;
}

/* стили раздела об аукционе */
.about {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 35px 47px;
    gap: 72px;
}

.about__column {
    justify-self: center;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    background-color: #000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 100px 0px;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    padding: 24px 0px;
}

/* стили подвала проекта */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    height: 180px;
}

.footer__address {
    display: flex;
    flex-direction: column;
    padding: 1px 50px 82px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.footer__social-list {
    display: flex;
    justify-content: center;
    gap: 48px;
    list-style: none;
}


