  /* стили для шапки проекта */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 91px 50px 96px;
}

.header__logo {
    display: block;
    align-self: center;
    justify-self: center;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__links-list {
    display: flex;
    gap: 33px;
    line-height: 21.13px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 2px;
}

.header__link_active {
    text-decoration: none;
}

.address {
    line-height: 24.3px;
    font-size: 18px;
    font-style: normal;
}

.header__address {
    width: 240px;
    justify-self: end;
}

/* стили для части адреаса */
.address__link {
    display: block;
    text-underline-position: under;
}

/* стили для обложки проекта */
.cover {
    position: relative;
    padding: 165px 50px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #000;
}

.cover__title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 30px;
    color: #FFF;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
    margin-right: -30px;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 104px 0px 0px;
}

.cover__description-text {
    color: #FFF;
    word-spacing: 19px;
    font-size: 22px;
    text-transform: uppercase;
    margin-right: auto;
}

.bet-button {
    font-size: 22px;
    border: #FFF solid 1px;
    padding: 12px 32px;
    text-transform: uppercase;
    background-color: transparent;
    color: #FFF;
}

/* стили для лотов проекта */
.lots {
    padding: 180px 24px 53px;
}

.lots__heading {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    padding: 0px 40px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    list-style: none;
    padding: 27px 0px 30px;
}

.lots__card-list-item {
    height: 100%;
    color: #FFF;
}

.card-link {
    display: block;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 48px 40px;
    min-height: 596px;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
    z-index: 1;
}

.card__text {
    font-size: 20px;
    z-index: 1;
}

.lots__look-more-link {
    font-size: 20px;
    font-weight: 400;
    padding: 30px 0px 0px 40px;
    text-underline-offset: 5px;
}

/* стили раздела об аукционе */
.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 101px 30px 181px;
}

.about__column {
    justify-self: center;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    background-color: #000;
    margin-right: 11px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 100px 0px 100px;
}

.about__column-text {
    grid-column: 2/4;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

/* стили для подвала проекта */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 82px;
  }

  .footer__social-icon {
    width: auto;
    height: 48px;
  }
  
  .footer__menu-list {
    text-align: center;
    list-style: none;
  }
  
  .footer__menu-link {
    font-size: 18px;
    line-height: normal;
    text-underline-position: under;
  }

  .footer__menu-link_active {
    text-decoration: none;
  }

  .footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
  }